
.app__wrapper-quote-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.app__wrapper_info-content{
    margin-bottom: 4rem;
}
.app__wrapper-quote img{
    height: 32px;
}
.app__wrapper-quote{
    display: flex;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}
.app__wrapper-quote-container{
    margin-bottom: 4rem;
}
.app__wrapper-author{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.app__wrapper-author-name {
    font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 32px;
  /* line-height: 83.2px; */
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.app__wrapper-sign img{
    width: 240px;
}