.app__wrapper-quote-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.app__wrapper_info-content{
    margin-bottom: 4rem;
}
.app__wrapper-quote img{
    height: 32px;
}
.app__wrapper-quote{
    display: flex;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}
.app__wrapper-quote-container{
    margin-bottom: 4rem;
}
