.app__gallery-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.app__gallery-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}
.app__gallery-images{
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width:   50%;
    position: relative;
}
.gallery-images{
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.gallery-images::-webkit-scrollbar {
    display: none;
}
.gallery-img{
    position: relative;
    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
}

.gallery-img-icon{
    
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0.1;
    transition: .5s ease;
    cursor: pointer;
    left: 0; 
    right: 0; 
    top: 50%;
    margin-left: auto; 
    margin-right: auto; 
}
.gallery-img:hover .gallery-img-icon{
    opacity: 1;
}

.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    
}
.gallery-img:hover img{
    opacity: .35;
}
.app__gallery-img-arrows{width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
}
.app__gallery-arrows-icons{color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;}
.app__gallery-arrows-icons:hover{
    color: var(--color-white);
}