.app__about-us{
    position: relative;
}
.app__about-bg-img{
    position: absolute;
    inset: 0;
    z-index: 0;
}
.app__about-bg-img img{
   
    width: 391px;
    height: 415px;
    

}
.app__about-content-history{
    flex: 1;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;    
    text-align: left;
}
.app__about-content{
    position: relative;
    width: 100%;
    z-index: 2;
}
.app__about-content-about{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
.app__about-content-img{
    margin: 2rem 4rem;
}
.app__about-content-img img{
    height: 910px;
}
.app__about-content-history-heading{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.app__about-content-about-heading{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.app__about-content-about-heading img{-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.app__about-content-about-p{
    text-align: justify;  /* For Edge */
  text-align-last: right;
}
.app__about-content-history-p{
    text-align: justify;  /* For Edge */
  text-align-last: left;
}
.app__about-content-p{
  
    font-family: var(--font-alt);
  color: var(--color-grey);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}